
.task-list {
    padding: 0.5em 1em;
}

.block {
    padding-top: 5em;
    padding-bottom: 5em;

    // margin-left: 10em;
    // margin-right: 10em;

    .block-title {
        text-align: center;
        margin-top: 0em;
    }

    .subtitle {
        text-align: center;
        margin-top: 1em;
        color: #BDBDBD;
    }

    .main-text {
        color: rgba(66, 66, 66, 0.75); //#424242;

        // margin-top: 4em;

        font-family: sans-serif;
        font-weight: 100;
        padding: 0em 0.5em;
        line-height: inherit;
        text-align: justify;

        margin: 0;
        margin-bottom: 2em;
    }

    .main-text-block {
        padding: 8em 4em;
    }

    .block-text {
        color: rgba(66, 66, 66, 0.75); //#424242;

        margin-top: 1em;

        font-family: sans-serif;
        font-weight: 100;
        // padding: 0 4em 0 4em;
        line-height: inherit;
        text-align: justify;
    }

}

.block-grey {
    background-color: #F5F5F5;
}

.about-block {

    h2 {
        margin-top: 0;
    }

    .container {
        padding-top: 5em;

        padding-left: 4em;
        padding-right: 4em;
    }

    .col-block {
        padding-left: 2em;
        padding-right: 2em;
    }

    .row {
        margin-bottom: 4em;
    }
}

.note {
    text-align: center;
    color: #BDBDBD;
}

.service-icon {
    padding-bottom: 0;

    $side-padding: 4vw;
    padding-left: $side-padding;
    padding-right: $side-padding;

    // @media (max-width: "768px") {
    //     // padding: 5em 8em;
    //     // padding-bottom: 0em;
    //     $side-padding: 2em;
    //     padding-left: $side-padding;
    //     padding-right: $side-padding;
    // }

    text-align: center;

    a:hover {
        text-decoration: none;
    }

    .title {
        margin-top: 2vw;
    }

    .title-price {
        color: #BDBDBD;
    }

    .description {
        font-size: 12pt;
        font-family: "Roboto";
        font-weight: 300;
        // margin-left: 4em;
        // margin-right: 4em;
    }

    .img-wrap {
        // padding: 6.5em;
        // padding: 6.5vw;

        padding: 3em;
        padding-bottom: 0;

        @media (max-width: "768px") {
            padding: 5em 8em;
            padding-bottom: 1em;
        }
    }

    // @media (max-width: 769px) {
    //     .img-wrap {
    //         padding: 4em;
    //         padding-bottom: 0;
    //     }
    //
    //     .title {
    //         // margin-top: 0.5em;
    //     }
    // }
}

.members {
    // $side-padding: 7vw;
    // padding-left: $side-padding;
    // padding-right: $side-padding;

    text-align: center;

    .img-icon {
        padding: 3em;
        padding-bottom: 1em;

        @media (max-width: "768px") {
            padding: 5em 8em;
            padding-bottom: 0em;
        }
    }



}

.table-members {
    margin-top: 4em;

    // border-collapse: separate 1 !important;
    // border-radius: 2em !important;

    $border-radius: 1em;
    $border-color: #ccc;

    $outer-border: 4px;

    border-collapse: separate;
    //
    border: solid $border-color $outer-border;
    border-radius: $border-radius;
    // border-left:0px;

    td, th {
        vertical-align: middle !important;

        text-align: center;

        border-left: 1px solid $border-color;
        // border-top: 1px solid $border-color;

        // color: $green;
    }

    .members-circle {
        width: 1.5vw;
        height: 1.5vw;
        background: $green;

        margin-left: auto;
        margin-right: auto;

        border-radius: 1em;

    }

    .left {

        padding-left: 1em;

        width: 80%;
        text-align: left;
        color: $blue;
    }

    th {
        border-top: none;


        h1 {
            color: #868686;
        }
    }

    th:first-child {
        border-radius: $border-radius 0 0 0;
    }

    th:last-child {
        border-radius: 0 $border-radius 0 0;
    }

    th:only-child{
        border-radius: $border-radius $border-radius 0 0;
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 $border-radius;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 $border-radius 0;
    }

    h1 {
        margin: 0.5em;
    }

}

.table-members tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}

// .glyphicon-custom-circle {
//     background-color: $green;
//     width: 100%;
// }

.contacts {

    .block-title {
        text-align: left;
        margin-bottom: 2em;
    }

    .contact-icon {
        padding-right: 0;
    }

    .row {
        margin-bottom: 1em;
    }

    .contact {
        padding-left: 0;
    }

    .map {
        float: right;

        width: 100%;
        height: 40em;
    }

}

.footer {
    background-color: $footer-bg;
    color: #BDBDBD;
    margin-top: 8em;

    padding-top: 4em;
    padding-bottom: 2em;


    // $side-padding: 10em;
    // padding-left: $side-padding;
    // padding-right: $side-padding;
    // margin-bottom: 2em;

    .nav-title {
        margin-top: 0em;
        margin-bottom: 0.6em;
        color: $footer-heading;
    }
    .bottom-nav {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 0.35em;
        }

        a {
            color: $footer-link;
        }
        a:hover {
            text-decoration: none;
        }
    }

    .social {
        padding-top: 0em;
        // text-align: right !important;

        .fb {
            width: 3em;
            float:right;
        }
    }

    .copyright {
        margin-top: 3em;
    }
}

.equipment-list {

    .equipment {

        padding-top: 4em;
        padding-bottom: 4em;

        // border-bottom: 1px solid $equipment-border;

        .main-text {
            margin-top: 2em;
            margin-bottom: 4em;
        }


        a:hover {
            text-decoration: none;

            // transition: 1s;



        }

        .price {
            margin-top: 2em;
            margin-bottom: 2em;
            color: $equipment-type;
            text-align: center;
        }
        .type {
            // padding-top: 0.5em;
            padding-bottom: 0.5em;
            color: #9E9E9E;
            text-align: center;

            // border-bottom: 1px solid #9E9E9E;
        }

        .thumb-col {
            text-align: center;
        }
        .thumb {
            width: 50%;
            margin-left: auto;
            margin-right: 3em;
        }


        .price-round {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: auto;
            margin-right: auto;

            background-color: $blue;

            $size: 10em;
            width: $size;
            height: $size;

            border-radius: $size;

            // padding: 2vh;

            .price {
                margin: 0;
                color: white;

                line-height: inherit;
            }
        }

        .price-manager {
            background-color: darken($blue, 25%);
        }
    }

    :last-child {
        border: none;
    }

    .price-note {
        margin-top: 5em;

        h6 {
            color: #BDBDBD;
        }
    }

}

.wiki-block {
    margin-bottom: 4em;
}


.equipment-detail {

    .title {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    .btn-book {
        font-size: 12pt;
        padding: 1em;

        color: #fff;
        background-color: darken($blue, 20%);
    }

    .specs {
        font-size: 12pt;

        .title {
            width: 20%;
        }

        :first-child > td {
            border-top: none;
        }
    }

    .guidelines {
        .guide-list {
            // list-style: none;
            font-size: 12pt;
        }
    }
}

.workshop-block {
    .row {
        margin-top: 4em;
    }

    .img-responsive {
        padding: 3em;
        padding-bottom: 1em;

        @media (max-width: "768px") {
            padding: 5em 8em;
            padding-bottom: 1em;
        }
    }
}

.workshop-page {

    .nav-side {
        ul {
            list-style: none;

            li {
                font-size: 14pt;
                padding: 0.5em 0em 0.5em 0.5em;

                a {
                    color: inherit;
                }
                a:hover  {
                    text-decoration: none;
                }
            }

        }
    }

    .btn-book {
        text-align: center;

        h2 {
            transition: 0.3s;
            margin-bottom: 1em;
            border-radius: 0.2em;
            margin-top: 0;

            padding: 0.5em 0.2em;

            background-color: $purple;
            color: white;
        }
    }
    .btn-book:hover, .btn-book:active {
        text-decoration: none;
        h2 {
            background-color: lighten($purple, 10%);
        }
    }

    .side-detail {
        .title {
            // color: #757575 !important;
            padding-bottom: 0.5em;
        }

        .detail {
            padding-top: 0.5em;
            color: #757575 !important;
            line-height: inherit;
        }
    }

    .wshops {
        padding-left: 7em;
    }

    .wshop {
        text-align: center;
    }

    .thumb {
        // border: 2px solid #BDBDBD;
        // border-radius: 1em;
        $padding-side: 2em;
        padding-left: $padding-side;
        padding-right: $padding-side;
    }
}

.journalism-list {
    .row {
        margin-bottom: 5em;
    }
}


.uniquness-block {
    text-align: center;

    .description {
        text-align: left;
    }

    .fake-btn:hover {
        cursor: pointer;
    }

    // h3 {
    //     text-align: justify;
    // }
}

.wshop-text {
    font-size: 14pt;
}

.projects-block {

    .projects {
        margin-top: 5em;
        margin-bottom: 5em;

        .project {
            img {
                // border: 0.5em solid #E0E0E0;
                border-radius: 0.5em;
            }
        }
    }
    .row {
        margin-bottom: 2em;
    }
}

.materials-block {

    .title {
        margin-bottom: 1em;
    }

    .material-item {
        margin-bottom: 5em;
    }

    .mat-list {
        list-style: none;

        li {
            font-family: sans-serif;
            font-weight: 300;
            font-size: 14pt;
            border-bottom: 1px solid #E0E0E0;

            line-height: inherit;
            padding: 1em 0;

            color: #424242;
        }
    }
}

.image-mess {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .column {
        // width: auto;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
    }

    img {
        border-radius: 0.8em;
        margin-bottom: 1em;
    }
}
