
.block {
    padding-top: 8em;

    // margin-left: 10em;
    // margin-right: 10em;

    .block-title {
        text-align: center;
        margin-top: 0em;
    }



}

.service-icon {
    padding-bottom: 0;

    $side-padding: 2em;
    padding-left: $side-padding;
    padding-right: $side-padding;

    text-align: center;

    .title {
        margin-top: 2em;
    }

    .title-price {
        color: #BDBDBD;
    }

    .description {
        // margin-left: 4em;
        // margin-right: 4em;
    }

    .img-wrap {
        // padding: 5em 8em;
        padding: 6.5em;
        padding-bottom: 0;
    }
}

.members {
    $side-padding: 7em;
    padding-left: $side-padding;
    padding-right: $side-padding;
}

.table-members {
    margin-top: 4em;

    // border-collapse: separate 1 !important;
    // border-radius: 2em !important;

    $border-radius: 1em;
    $border-color: #ccc;

    $outer-border: 4px;

    border-collapse: separate;
    //
    border: solid $border-color $outer-border;
    border-radius: $border-radius;
    // border-left:0px;

    td, th {
        vertical-align: middle !important;

        text-align: center;

        border-left: 1px solid $border-color;
        // border-top: 1px solid $border-color;

        // color: $green;
    }

    .members-circle {
        width: 1.5em;
        height: 1.5em;
        background: $green;

        margin-left: auto;
        margin-right: auto;

        border-radius: 1em;

    }

    .left {

        padding-left: 1em;

        width: 80%;
        text-align: left;
        color: $blue;
    }

    th {
        border-top: none;


        h1 {
            color: #868686;
        }
    }

    th:first-child {
        border-radius: $border-radius 0 0 0;
    }

    th:last-child {
        border-radius: 0 $border-radius 0 0;
    }

    th:only-child{
        border-radius: $border-radius $border-radius 0 0;
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 $border-radius;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 $border-radius 0;
    }

    h1 {
        margin: 0.5em;
    }

}

.table-members tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}

// .glyphicon-custom-circle {
//     background-color: $green;
//     width: 100%;
// }
