
$background_color: #fafafa;
$head_color: #60BBEA;

$button_border: #BDBDBD;
$button_radius: 1em;

$main-head: #66BB6A;

$main-head-bg:
    (45deg, #4CAF50 0%, hsla(196, 95%, 66%, 0) 70%),
    (135deg, #81C784 10%, hsla(173, 93%, 58%, 0) 80%),
    (225deg, #9CCC65 10%, hsla(193, 98%, 63%, 0) 80%),
    (315deg, #9CCC65 100%, hsla(62, 94%, 67%, 0) 70%)
;

$footer-bg: #EEEEEE;
$footer-heading: #757575;
$footer-link: #9E9E9E;

$equipment-title: $blue;
$equipment-type: #BDBDBD;
$equipment-border: #EEEEEE;
