
$background_color: #fafafa;
$head_color: #60BBEA;

$button_border: #BDBDBD;
$button_radius: 1em;

$main-head: #66BB6A;

$main-head-bg:
    (45deg, #4CAF50 0%, hsla(196, 95%, 66%, 0) 70%),
    (135deg, #81C784 10%, hsla(173, 93%, 58%, 0) 80%),
    (225deg, #9CCC65 10%, hsla(193, 98%, 63%, 0) 80%),
    (315deg, #9CCC65 100%, hsla(62, 94%, 67%, 0) 70%)
;

$footer-bg: #EEEEEE;
$footer-heading: #757575;
$footer-link: #9E9E9E;

$equipment-title: $blue;
$equipment-type: #757575; //#BDBDBD;
$equipment-border: #EEEEEE;

$blue_shade_1: darken($blue, 20%);
$blue_shade_2: darken($blue, 30%);
$blue_shade_3: darken($blue, 40%);

$red_light: lighten($red, 20%);

.blue_shade_1 { background-color: $blue_shade_1 !important; }
.blue_shade_2 { background-color: $blue_shade_2 !important; }
.blue_shade_3 { background-color: $blue_shade_3 !important; }

.red_light { background-color: $red_light !important }

.yellow_shade_1 { background-color: darken($yellow, 7%) !important; }
.yellow_shade_2 { background-color: darken($yellow, 10%) !important; }
.yellow_shade_3 { background-color: darken($yellow, 15%) !important; }

// .green_shade_1 { background-color: darken($green, 10%) !important; }
