
.header {
    width: 100%;

    @include gradient-bg(
        (45deg, #9CCC65 0%, hsla(196, 95%, 66%, 0) 70%),
        (135deg, #81C784 10%, hsla(173, 93%, 58%, 0) 80%),
        (225deg, #9CCC65 10%, hsla(193, 98%, 63%, 0) 80%),
        (315deg, #4CAF50 100%, hsla(62, 94%, 67%, 0) 70%)
    );

    // background-color: $main-head; //#9FC415; //#F195BE; ; //darken($green, 20%);  //hsla(173, 93%, 58%, 1);

    .inner-header {
        padding: 5em 0;
        padding-top: 1em 0;
    }

    .logo {
        @media (max-width: "768px") {
            padding: 5em;
            padding-bottom: 0em;
        }
    }

    .header-text {
        color: #fff;
        padding-top: 3em;
        padding-left: 5em;

        @media (max-width: "768px") {
            padding-left: 3em;
        }


        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }
    }

    .head-image {
        margin-top: 30vw;
        width: 100%;
        padding: 0 10vw;

        @media (max-width: "768px") {
            padding: 20em;
        }

    }
}

.header-small {
    @extend .header;

    background: $blue;

    .inner-header {
        padding: 0;

        .img-block {
            padding: 3em;
        }

        .price-round {
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: auto;
            margin-right: auto;

            // background-color: $blue;

            $size: 10em;
            width: $size;
            height: $size;

            border-radius: $size;

            // padding: 2vh;

            .price {
                margin: 0;
                // color: white;
            }
        }
    }

    .logo {
        padding: 4em;
    }

    .header-text {
        padding-left: 0;
        padding-top: 6em;
    }
}
