// @import "../node_modules/bootstrap-sass/assets/bootstrap";

@import "mixins/fontFace";
@import "mixins/gradient";

@import "palette";
@import "colors";
@import "navigation";
@import "headers";
@import "blocks";


@include fontFace("Gothic", "assets/fonts/CenturyGothicRegular");
// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i&subset=cyrillic');

.header-heading {
    color: #fff;
}

body {
    position: relative;

    background: $background_color;
    font-family: "Gothic";
}

h1, h2, h3, h4, h5, h6 {
    color: $blue;
}

.link-row {
    margin-top: 5em;
    text-align: center;


    a {
        padding: 1em;
        border: 3px solid $button_border;
        border-radius: $button_radius;

        color: $button_border !important;

        font-size: 14pt;
    }

    a:hover {
        text-decoration: none;
    }
}



.carousel-indicators {
    position: static;

    padding-top: 2em;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 0;

    li {
        border-color: #E0E0E0;
    }
    .active {
        width: 10px;
        height: 10px;

        background-color: #E0E0E0;
    }
}

.carousel-control {
    background-image: none !important;
}
