
.navbar-default {
    background: none !important;
    border: none !important;

    // color: white !important;
}

.navbar-nav a {

    font-size: 12pt;

    color: #fff !important;
    padding: 0.5em 1em !important;
    padding-top: 2em !important;
}

.navbar-nav .active > a {
    background: none !important;
    border-bottom: 3px solid white;
}

.login {
    margin-top: 1.5em !important;
    margin-left: 1em !important;
    // padding: 0.1em 1em !important;
    padding: 0 !important;
    border: 2px solid white;

    border-radius: 1em;
}

.login > a {
    padding-top: 0.5em !important;
}
