
.navbar-default {
    background: none !important;

    // @include gradient-bg(
    //     (45deg, #9CCC65 0%, hsla(196, 95%, 66%, 0) 70%),
    //     (135deg, #81C784 10%, hsla(173, 93%, 58%, 0) 80%),
    //     (225deg, #9CCC65 10%, hsla(193, 98%, 63%, 0) 80%),
    //     (315deg, #4CAF50 100%, hsla(62, 94%, 67%, 0) 70%)
    // );

    // background-color: #fafafa;
    // filter: blur(5px);

    border: none !important;


    // color: white !important;
}

.navbar-fixed-top {
    background-color: rgba(#fafafa, 0.9) !important;
    border-bottom: 2px solid #EEEEEE !important;
}

.navbar-nav a {

    font-size: 12pt;

    // color: #9E9E9E !important;
    color: white !important;
    padding: 0.5em 1em !important;
    padding-top: 2em !important;

    // line-height: 2.4em !important;

    // margin-bottom: 0.2em;
}

.navbar-fixed-top a {

    color: #9E9E9E !important;
    // color: white !important;
    // padding: 0.5em 1em !important;
    // padding-top: 2em !important;
    padding: 1em !important;

    line-height: 2.4em !important;

    // margin-bottom: 0.2em;
}

.navbar-nav .active > a {
    background: none !important;
    // border-bottom: 3px solid #424242;
    // border-bottom: 3px solid white;

    color: #424242;
}

.login {
    margin-top: 1.5em !important;
    margin-left: 1em !important;
    // padding: 0.1em 1em !important;
    padding: 0 !important;
    border: 2px solid white;

    border-radius: 1em;
}

.login > a {
    padding-top: 0.5em !important;
}
