
$red: #FF5722;
$blue: #27c4f3; //#38BEEF;
$yellow: #FFED00;
$green: #9FC415;
$purple: #AF90C2;
$pink: #F195BD;

.red-col {
    color: $red;
}

.blue-col {
    color: $blue;
}

.yellow-col {
    color: $yellow;
}

.green-col {
    color: $green !important;
}

.purple-col {
    color: $purple;
}

.red-bg { background-color: $red !important; }

.blue-bg { background-color: $blue !important; }

.green-bg { background-color: $green !important; }

.yellow-bg { background-color: darken($yellow, 3%) !important; }

.purple-bg { background-color: $purple !important; }
